POSTGRES_URL=jdbc:postgresql://localhost:5432/scalekit
POSTGRES_USER=scalekit
POSTGRES_PASSWORD=scalekit123
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis123
APP_BASE_URL=http://localhost:8080
